@import "nullStyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
body {
  font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #2c3e50;
  background: #001f3f;
}
.container {
  position: static;
  margin: 0 auto 0 auto;
  height: 400px;
  width: 500px;
  border-radius: 10px;
  padding: 5px;
  background: #fff;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .card {
    width: 150px;
    height: 150px;
    background-color: rgb(90, 0, 0);
    margin: 20px;
    border-radius: 10px;
    &:active {
      background-color: rgb(179, 0, 0);
    }
  }
  .card.active {
    background-color: rgb(179, 0, 0);
  }
  .card1 {
    width: 150px;
    height: 150px;
    background-color: rgb(6, 68, 0);
    margin: 20px;
    border-radius: 10px;
    &:active {
      background-color: rgb(13, 160, 0);
    }
  }
  .card1.active {
    background-color: rgb(13, 160, 0);
  }
  .card2 {
    width: 150px;
    height: 150px;
    background-color: rgb(0, 7, 68);
    margin: 20px;
    border-radius: 10px;
    &:active {
      background-color: rgb(0, 11, 160);
    }
  }
  .card2.active {
    background-color: rgb(0, 11, 160);
  }
  .card3 {
    width: 150px;
    height: 150px;
    background-color: rgb(163, 152, 0);
    margin: 20px;
    border-radius: 10px;
    &:active {
      background-color: rgb(255, 246, 126);
    }
  }
  .card3.active {
    background-color: rgb(255, 246, 126);
  }
}
.container.min {
  height: 50px;
}
.start {
  position: relative;
  width: 50px;
  margin: 10px 0 10px 0;
  height: fit-content;
  background-color: cadetblue;
  border-radius: 5px;
  padding: 10px;
}
.mainBlock {
  background-color: rgb(255, 255, 255);
  position: static;
  margin: 15vmax auto 0 auto;
  border: 2px solid red;
  width: 500px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .check {
    font-size: 30px;
  }
}
